.container{
    width: 100%;
    height: 85%;
    color: grey;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 100px;
    font-family: 'Yaldevi', sans-serif;
}

